<ion-header>
  <ion-toolbar>
    <ion-title>
      {{(recipie | async)?.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="recipie | async as lrecipie">
  <ion-card class="welcome-card">
    <ion-img class="recipe-img" [src]="lrecipie?.image"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-chip *ngFor="let tag of lrecipie?.keywords" color="primary" outline>
          <ion-label>{{tag}}</ion-label>
        </ion-chip>
      </ion-card-subtitle>
      <ion-card-title>{{lrecipie?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{lrecipie?.description || 'Keine Beschreibung'}} </p>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size-md="4" size="12">
            <ion-list>
              <ion-item class="portion-size" *ngIf="lrecipie?.yield">
                <ion-label>{{lrecipie?.yield.type}}</ion-label>
                <ion-input text-end (ngModelChange)="onYieldChange($event)" type="number" [(ngModel)]="lrecipie.yield.amount" min="1"
                  required="true" debounce="250" inputmode="numeric">
                </ion-input>
              </ion-item>
              <ion-item *ngIf="lrecipie?.prepTime">
                <ion-label>Vorbereitungszeit</ion-label>
                {{lrecipie?.prepTime}}
              </ion-item>
              <ion-item *ngIf="lrecipie?.cookTime">
                <ion-label>Koch-/Backzeit</ion-label>
                <ion-text>{{lrecipie?.cookTime}}</ion-text>
              </ion-item>
              <ion-item *ngIf="lrecipie?.calories">
                <ion-label>Kalorien</ion-label>
                {{lrecipie?.calories}}
              </ion-item>
              <ion-item *ngIf="lrecipie?.difficulty">
                <ion-label>Schwierigkeit</ion-label>
                {{lrecipie?.difficulty}}
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let step of lrecipie?.steps">
          <ion-col size-md="4" size="12" *ngIf="step.ingredients" align-self-start>
            <ion-text *ngFor="let ingr of step?.ingredients">{{displayIngredient(ingr)}} <br
                *ngIf="step.ingredients.length > 1"></ion-text>
          </ion-col>
          <ion-col align-self-end class="instructions">
            <div *ngIf="!step.hideArrow" class=ion-margin-end>&rArr;</div>
            <ion-text [innerHTML]="diplayInstructions(step.instructions)">
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div *ngFor="let remark of lrecipie?.finalRemarks">
        <h2>{{remark.title}}</h2>
        <p>{{remark.text}}</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>